
---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
		<h1>About the astro site</h1>
    <h2>... this is a new astro site to chambear!!!</h2>

  <p>I'll make this page better and better!!!</p>
	</body>
</html>
